@model ERT.Models.Beneficiary_Signature

@{
	ViewBag.Title = "Create";
}

<h2>Confirm Order</h2>
<h4>confirmcollected order</h4>
<hr />

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">

	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	@Html.HiddenFor(model => model.OrderId)
	<div class="form-group">
		@Html.LabelFor(model => model.MySignature, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.MySignature, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.MySignature, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.SignedBy, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.SignedBy, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.SignedBy, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Confirm collection" class="btn btn-primary" />
		</div>
	</div>
</div>
}

@section Scripts {
	<script src="~/Scripts/signature_pad.min.js"></script>
	<script src="~/Scripts/SignaturePadInit.js"></script>
}
