@model IEnumerable<ERT.Models.Beneficiary_Signature>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sign_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MySignature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sign_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MySignature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Signaturee_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Signaturee_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Signaturee_ID })
        </td>
    </tr>
}

</table>
