@model IEnumerable<ERT.Models.Schedule>

@{
    ViewBag.Title = "EmployeeView";
}

<h2>Warehouse Packages</h2>

<hr />
<div class="row">
    @foreach (var item in Model)
    {
        ERT.Models.ApplicationDbContext db = new ERT.Models.ApplicationDbContext();

        var contract = (from i in db.Orders
                        where i.OrderId == item.OrderId
                        select i).FirstOrDefault();
        var qrid = (from i in db.QRCodes
                    where i.OrderId == item.OrderId
                    select i).FirstOrDefault();
        <div class="col-md-3">
            <div class="shadow p-3 mb-5 bg-white rounded">

                <p>Recipient Name: @Html.DisplayFor(modelItem => contract.FirstName)</p>
                <p>Recipient Last Name: @Html.DisplayFor(modelItem => contract.LastName)</p>
                <p>Date Item(s) Ordered: @Html.DisplayFor(modelItem => contract.OrderDate)</p>
                <p>Item(s) total amount: @Html.DisplayFor(modelItem => contract.Total)</p>

                <a href='@Url.Action("Edit", "Schedules", new { id =item.Schedule_ID}, null)' class="btn btn-success">assign For deliver</a>

            </div>
        </div>
    }
</div>